# Managed by Ansible (roles/db_tunnel). Read by /usr/local/sbin/db-tunnel.
DB_TUNNEL_IMAGE={{ db_tunnel_image }}
DB_TUNNEL_PORT={{ db_tunnel_port }}
DB_TUNNEL_DEFAULT_HOURS={{ db_tunnel_default_hours }}
DB_TUNNEL_MAX_HOURS={{ db_tunnel_max_hours }}
DB_NETWORK=db
DB_COMPOSE_PROJECT=postgres
DB_COMPOSE_SERVICE=postgres
DB_PORT=5432
