// Managed by Ansible (roles/base).
Unattended-Upgrade::Automatic-Reboot "{{ base_auto_reboot | ternary('true', 'false') }}";
Unattended-Upgrade::Automatic-Reboot-Time "{{ base_auto_reboot_time }}";
Unattended-Upgrade::Remove-Unused-Kernel-Packages "true";
Unattended-Upgrade::Remove-Unused-Dependencies "true";
